.paraTitulos{
    font-size: 4rem;
    font-family: 'gentium book basic';
    padding: 0.2rem;
    border: 0.2rem;
}

.titulo{
    @extend .paraTitulos;
    color: #efb810;
    text-align: center;
    font-style: italic;
}
.tituloPequeño{
    @extend .paraTitulos;
    color: whitesmoke;
    text-align: center;
    margin: 0.2rem;
}
.tituloMediano{     /*reciclo en todas las paginas solo cambio el titulo*/
    font-family: 'gentium book basic';
    font-size: 6rem;
    color: whitesmoke;
    font-style: italic;
    text-align: center;
    padding: 0.2rem;
    margin: 0.2rem;
    border:0.2rem;
    background-color: #0d076a;
}