.titulo{
    color: #efb810;
    text-align: center;
    font-size: 4rem;
    font-family: 'gentium book basic';
    font-style: italic;
    padding: 0.1rem;
    border:0.1rem;
}
.tituloPequeño{
    font-family: 'gentium book basic';
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    margin: 0.2rem;
    padding: 0.1rem;
    border:0.2rem;
}
.tituloMediano{     /*reciclo en todas las paginas solo cambio el titulo*/
    font-family: 'gentium book basic';
    font-size: 6rem;
    color: whitesmoke;
    font-style: italic;
    text-align: center;
    padding: 0.2rem;
    margin: 0.2rem;
    border:0.2rem;
    background-color: #0d076a;
}