@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Kreon&display=swap");
.fa-twitter {
  background-color: #1DA1F2;
}

.fa-facebook {
  background-color: #1877f2;
}

.fa-instagram {
  background-color: #D43089;
}

/*usé la función extend en el archivo titulos*/
/* entendí esta funcion pero no la utilizo por eso la pongo en comentarios

@mixin sizes($width, $height){
    height:$height;
    width:$width;
}
.my_mixin{
    @include sizes (3rem, 3rem);
    background-color: goldenrod;
}
*/
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background-color: black;
}

.paraTitulos, .tituloPequeño, .titulo {
  font-size: 4rem;
  font-family: "gentium book basic";
  padding: 0.2rem;
  border: 0.2rem;
}

.titulo {
  color: #efb810;
  text-align: center;
  font-style: italic;
}

.tituloPequeño {
  color: whitesmoke;
  text-align: center;
  margin: 0.2rem;
}

.tituloMediano { /*reciclo en todas las paginas solo cambio el titulo*/
  font-family: "gentium book basic";
  font-size: 6rem;
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.2rem;
  background-color: #0d076a;
}

img {
  width: 26;
  height: 22rem;
  padding: 0.1rem;
  margin: 0.1rem;
  border: 0.1rem;
  transition: height 1s, width 1s;
}
img img:hover {
  width: 32;
  height: 28rem;
}

ul li {
  list-style-type: none;
  font-family: "gention book basic";
  text-align: center;
  font-size: 3rem;
  font-style: oblique;
  display: inline-block;
  margin: 1.5rem;
}

.container-fluid {
  background-color: #0d076a;
}

.navbar-brand {
  font-family: "gention book basic";
  font-size: 3rem;
}

header {
  padding: 0.1rem;
  margin: 0.1rem;
  border: 0.1rem;
  grid-area: header;
}

a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  font-family: "gention book basic";
  font-size: 3rem;
  margin: 1rem;
}

aside {
  padding: 0.5rem;
  margin: 2rem;
  border: 0.1rem;
  border-radius: 0.2rem;
  border-color: #0d076a;
  grid-area: aside;
  align-self: start;
}

.sobreMi {
  padding: 0.1rem;
  margin: 2rem 1rem 3rem 6rem;
  border: 0.2rem;
  height: 5rem;
}

.menuFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100rem;
  margin-top: 10rem;
}

.walter {
  width: 30rem;
  height: 30rem;
  border: 0.3rem;
  border-style: double;
  border-color: #efb810;
  padding: 1rem;
  margin: 10rem 1rem 3rem 14rem;
}

.about {
  font-family: "kreon";
  font-size: 2.1rem;
  color: #efb810;
  font-style: italic;
  text-align: center;
}

.box,
.about,
.portales { /*reciclo mismas medidas en varias clases*/
  margin: 0.2rem;
  padding: 0.2rem;
  border: 0.3rem;
}

.perspectiva { /*se recicla en varias secciones*/
  font-family: "kreon";
  color: #efb810;
  background-color: #090635;
  font-size: 4.5rem;
  text-align: center;
}

.mercadoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.4rem;
  padding: 0.4rem;
  border: 0.4rem;
}

footer {
  background-color: #0d076a;
  text-align: center;
  margin: 0.1rem;
  padding: 0.1rem;
  border: 0.1rem;
  grid-area: footer;
}

.socialLinks {
  text-align: center;
  font-family: "kreon";
  font-style: oblique;
  text-decoration: none;
  font-size: 3rem;
}

.copyright {
  font-family: "kreon";
  font-size: 2rem;
  text-align: right;
  color: #efb810;
}

.portales {
  text-align: center;
  margin: 1rem;
  padding: 0.2rem;
}

.YtRecomendado {
  display: flex;
}

label {
  font-size: 3.5rem;
}

.formulario {
  font-family: "kreon";
  font-size: 10rem;
  color: #efb810;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.2rem;
}

.canalesRecomendados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 0.1rem;
  padding: 0.1rem;
  border: 0.2rem;
}

main {
  grid-area: main;
}

.grilla1 {
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: 45% 55%;
  grid-template-rows: 10% 80% 10%;
  justify-content: space-around;
}

@media (max-width: 480px) {
  body {
    background-color: #090635;
  }
  aside, .sobreMi {
    display: none;
  }
  .grilla1 {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 20% 80% 10%;
    justify-items: stretch;
  }
  .titulo {
    color: #efb810;
    text-align: center;
    font-size: 3rem;
    font-family: "gention book basic";
    font-style: italic;
    padding: 0.1rem;
    border: 0.1rem;
  }
  .mercadoFlex {
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }
  .canalesRecomendados {
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }
}
@media (max-width: 1023px) {
  body {
    background-color: #090635;
  }
  aside, .sobreMi {
    display: none;
  }
  .grilla1 {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 20% 80% 10%;
    justify-items: stretch;
  }
  .titulo {
    color: #efb810;
    text-align: center;
    font-size: 3rem;
    font-family: "gention book basic";
    font-style: italic;
    padding: 0.1rem;
    border: 0.1rem;
  }
  .canalesRecomendados {
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }
}/*# sourceMappingURL=style.css.map */